.backgroundApp {
    -fx-background-color: grey;
}

.text-area .content {
    -fx-background-color: grey;
}

.text-field{
    -fx-text-fill: #ffffff;
    /*-fx-font-family: "Helvetica Neue Light";*/
}

.operators {
    -fx-background-color: #FE9340;
    -fx-text-fill: #ffffff;
    /*-fx-border-color: #c5c5c5;*/
}

.button {
    -fx-background-radius: 0;
    -fx-font-family: "Helvetica Neue Light";
    -fx-font-size: 19px;
    -fx-border-color: #c5c5c5;
}

.button:armed{
    -fx-background-color: #B2B2B2;
}

.button:pressed {
    -fx-background-color: #B2B2B2;
}

.operators:pressed {
    -fx-background-color: #b66100;
}

.topOperators {
    -fx-background-color: #D6D6D6;
}